@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

.main-content{
    background-color: #fff;
    box-shadow: var(--shadow);
    margin-left: 180px;
    margin-right: 300px;
    margin-top: 20px;
     
   
}
.main-content > div > p,h1,h3,h5,span{
    text-align: left;
}
.main-content > div > .textbox{
  background-color: grey;
  color: whitesmoke;
  display: flex;

}
.main-content > div > form {
    padding: 12px;
    display: flex;
    justify-content: left;
   

}
.main-content > div > .textbox2{
    background-color: grey;
    color: whitesmoke;
    display: flex;
    width: 45vh;
    height: 15vh;
  
  }
  .code{
    background-color: grey;
    color: white;
    width: 50%;
  }

  .code > .blockcode2{
    text-indent: 20px;
  }

  .head5{
    font-size: 22px;
  }
 .next{
 display: flex;
 margin-left: auto;
  color:white;
  background-color: green;
  border: 1px green solid;
  border-radius: 5px;
 }
 
  @media screen and (max-width: 960px) {
  .main-content{
margin-top: 20px;
margin-left: 0;
margin-right: 0;
}


  }
